@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin:0;
}

html,body{
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #FAFAFB;
}

#__next{
    height:100%;
}

span{
    font-size: 14px;

}

a{
    text-decoration: none;
    color:#2F80ED;
}

hr{
    border-top:1px solid #E0E0E0;
    height:0;
}